Package: com.tozy.TZNavigationTweak
Name: TZNavigationTweak
Version: 1.2
Description:全屏返回手势(arm64e process support)
Section: System
Depends: mobilesubstrate, applist, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: TozyZuo
dev: 
Homepage: 
Depiction: 
Maintainer: TozyZuo
Icon: 

