Package: Tozy.TZNavigationTweak
Name: TZNavigationTweak
Version: 1.5
Description:全屏返回手势(arm64e process support)
Section: System
Depends: mobilesubstrate, com.opa334.altlist (>=1.0.4), preferenceloader
Conflicts:
Replaces: 
Priority: optional
Architecture: iphoneos-arm64
Author: TozyZuo
dev: 
Homepage: 
Depiction: 
Maintainer: TozyZuo
Icon: 

